* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'work sans', sans-serif;
    font-size: 12px;
    color: #000000;
    line-height: 1.5em;
  }
  
  nav {
    padding: 1% 0;
    background-color: #bdbdbd;
    color: #008CBA;
    font-weight: 900;
    /* text-shadow: 1px 1px #000000; */
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .navlist {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navlist li {
    padding-left: 10px;
    padding-right: 10px;
  }

  a {
    text-decoration: none;
  }

  header {
    padding: 12% 0;
  }
  
  section {
    margin-top: 15%;
    padding: 6% 0;
  }

  h2 {
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
  }

  img {
    height: 125px;
    width: 200px;
}

  .hide {
    display: none;
  }

  .icon {
    padding-left: 5px;
    padding-right: 5px;
    height: 50px;
    width: 60px;
  }


  @media screen and (min-width: 600px) {
    body {
      font-family: 'work sans', sans-serif;
      font-size: 20px;
      color: #000000;
      text-align: center;
      line-height: 1.5;
    }
    
    nav {
        height: 100%;
        width: 20%;
        float: left;
        margin: 0;
        padding: 0;
    }
    .navlist {
        list-style-type: none;
        display: flex;
        flex-direction: column;
      }
    
    .navlist>li {
        margin-top: 5%;
        padding-top: 5em;
    }
    section {
        margin-top: 5%;
        margin-left: 20%;
        min-height: 100px;
        padding: 6% 0;
      }
    
    h2 {
        text-decoration: underline;
        letter-spacing: 2px;
        margin-top: -10%;
    }

    img {
        height: 400px;
        width: 600px;
    }

    .social {
      padding-left: 5px;
      padding-right: 5px;
      height: 100px;
      width: 125px;
    }

    .port {
        margin-right: 10%;
    }

  }